.ypw-editor {
  width: 878px;
  height: 598px;
  position: relative;
  border: solid 1px #e6eff4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px 0 #e6eff4;
  -moz-box-shadow: inset 0 0 6px 0 #e6eff4;
  box-shadow: inset 0 0 6px 0 #e6eff4;
}

.ypw-editor .ico-rich {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  top: -2px;
  margin-right: 3px;
  background: url("https://gameapp.fp.ps.netease.com/file/59784c9e5e60275ebadf6cc4AipjfWkd") no-repeat;
}

.ypw-editor .ico-rich-bold {
  background-position: 0 0;
}

.ypw-editor .ico-rich-bold:hover {
  background-position: 0 0;
}

.ypw-editor .ico-rich-linethrough {
  background-position: 0 -24px;
}

.ypw-editor .ico-rich-linethrough:hover {
  background-position: 0 -24px;
}

.ypw-editor .ico-rich-img {
  background-position: 0 -48px;
}

.ypw-editor .ico-rich-img:hover {
  background-position: 0 -48px;
}

.ypw-editor .toolbar {
  height: 44px;
  background: #f5f9fb;
  border-bottom: solid 1px #e6eff4;
}

.ypw-editor .toolbar dt {
  float: right;
  margin-top: 6px;
  margin-right: 20px;
}

.ypw-editor .toolbar dt select {
  height: 30px;
  font-family: "microsoft yahei";
  font-size: 16px;
  color: #999;
  padding: 0 18px;
  margin-left: 5px;
  outline: none;
  border-color: #d8e6ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ypw-editor .toolbar dd {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.ypw-editor .toolbar dd .active .ico-rich-bold {
  background-position: -24px 0;
}

.ypw-editor .toolbar dd .active .ico-rich-linethrough {
  background-position: -24px -24px;
}

.ypw-editor .toolbar.blur dd {
  cursor: default;
}

.ypw-editor .toolbar.blur dd .ico-rich {
  cursor: default;
}

.ypw-editor .edit-container {
  height: 524px;
  font-size: 18px;
  color: #333;
  padding: 16px 20px;
  overflow-x: hidden;
  outline: none;
  resize: none;
}

.ypw-editor .edit-container a {
  text-decoration: underline;
  color: #00b4b4;
}

.ypw-editor .edit-container .img {
  display: block;
  max-width: 815px;
  margin: 30px auto;
  padding: 0 10px;
}

.ypw-editor .edit-container .at-user {
  color: #00b4b4;
  margin: 0 5px;
}

.ypw-editor .edit-container .at-game {
  margin: 20px 0;
  width: 100%;
  height: 84px;
  line-height: 1;
  background: #fff;
  position: relative;
  user-select: none;
  border: 1px solid #e6eff4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.ypw-editor .edit-container .at-game .at-game-img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 12px;
  top: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.ypw-editor .edit-container .at-game .title {
  font-weight: bold;
  position: absolute;
  left: 82px;
  top: 32px;
}

.ypw-editor .edit-container p {
  color: #333;
  margin-bottom: 0;
}

.ypw-editor .edit-container::-webkit-scrollbar {
  width: 8px;
}

.ypw-editor .edit-container::-webkit-scrollbar-thumb {
  background: #e0e9ee;
  border-radius: 4px;
}

.ypw-editor .edit-container::-webkit-scrollbar-track {
  background: #f2f7fa;
  border-radius: 4px;
}

.ypw-editor .edit-container::-webkit-scrollbar-button {
  background: transparent;
  height: 4px;
}

.ypw-editor .edit-container .img-view {
  text-align: center;
}

.ypw-editor .edit-container .img-view .img {
  display: block;
  max-width: 100%;
  margin: 30px auto;
  padding: 0 10px;
}

.ypw-editor .edit-container .img-view .img-preview {
  display: block;
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 50px;
}

.ypw-editor .edit-container .img-view .img-upload {
  position: relative;
  display: inline-block;
  margin: auto;
}

.ypw-editor .edit-container .img-view .img-upload .upload-status {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
}

.ypw-editor .edit-container .img-view .img-upload .upload-status .progress {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ypw-editor .edit-container .img-view .img-upload:selected .upload-status {
  background: rgba(87, 145, 225, 0.8);
}

.ypw-editor .placeholder {
  visibility: visible;
  width: 100%;
  position: absolute;
  left: 20px;
  color: #ccc;
  box-sizing: border-box;
  pointer-events: none;
  /* For Display */
  margin: 0px;
  /* For Preview Title */
  word-break: break-all;
  word-wrap: break-word;
}
